@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  background: url("/src/assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}
